.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.headerListMode {
  margin: 20px 0px 0px 0px;
}
.headerList {
  display: flex;
  gap: 40px;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.headerDes {
  margin: 20px 0px;
}
.headerButton {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.underline {
  text-decoration: underline 3px;
}
.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}
.headerIcon {
  color: lightgray;
}
.headerSearchItems {
  display: flex;
  gap: 10px;
  align-items: center;
}
.headerSearchItems input {
  border: none;
  outline: none;
}
.searchText {
  color: black;
  cursor: pointer;
  font-weight: 500;
}
.date {
  position: absolute;
  top: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* left: 10px; */
  z-index: 2;
}
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
  font-weight: 500;
}
.options {
  background-color: white;
  position: absolute;
  top: 60px;
  border-radius: 5px;
  color: gray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 15rem;
  z-index: 2;
}
.optionItem {
  width: 24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionCounter {
  /* display: flex; */
  /* justify-content: space-between; */
  margin: 1rem;
  /* margin-top: 1rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  /* border: 1px solid red; */
}
.counterText {
  color: black;
}
.inc,
.dec {
  height: 2.5rem;
  width: 2.5rem;
  /* background-color: #003580; */
  cursor: pointer;
  background-color: #fff;
  border: #0071c2 1.5px solid;
  color: #0071c2;
  font-size: larger;
  margin: 0 1rem;
}
.inc:hover,
.dec:hover {
  background-color: #e3ecf2;
  opacity: 0.5;
}
.optionText {
  color: black;
  font-weight: 500;
  margin-left: 2rem;
}

.inc:disabled,
.dec:disabled {
  cursor: not-allowed;
}
